# Virtual Environment
.venv
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db